<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dalle_model</key>
	<string>dall-e-3</string>
	<key>openai_api_key</key>
	<string>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</string>
</dict>
</plist>
